.block-first {
    opacity: .5;

    background: $color-white url(../img/bg1.png) no-repeat center top;
    padding: 130px 0 0;
    text-align: center;

    &__logo {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}