.close-icon {
    width: 32px;
    height: 32px;
    position: relative;

    &::after,
    &::before {
        background-color: $color-black;
        height: 2px;
        width: 28px;
        content: "";
        position: absolute;
        top: 50%;
        margin: -1px 0 0 1px;
    }
    &::before {
        transform: rotate(45deg);
    }
    &::after {
        transform: rotate(135deg);
    }
}