.block-clients {
    background: $color-white url(../img/bg5.png) no-repeat center bottom;
    min-height: 537px;
    padding: 146px 0 0;

    &__carousel {
        margin: 64px 0 0;
    }
    &__slide {
        width: 120px;
        height: 120px;
        padding: 0;
        margin: 0 32px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__img {
        max-height: 100%;
    }

    @include media-breakpoint-between(md, lg)
	{
        & {
            min-height: 400px;
            padding: 50px 0 0;
            background-position: center top;
        }
    }
    @include media-breakpoint-down(sm)
	{
        & {
            min-height: 0;
            padding: 70px 0 96px;

            &__carousel {
                margin: 32px 0 0;
            }
            &__slide {
                width: 82px;
                height: 82px;
                margin: 0 8px;
            }
        }
    }
}