$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1350px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1310px
);

$gutter: 30px;

$color-black: #000;
$color-white: #FFF;
$color-green: #53E962;
$color-pink: #F96BB7;
$color-red: #FF5656;

$color-text: #434343;
$color-link: #4BA6FA;
$color-footer: #E5F1FD;

$transparent: rgba(255, 255, 255, 0);

$color-gray1: #222;
$color-gray2: #4A4A4A;
$color-gray3: #373737;
$color-gray4: #DADADA;

$opacity-header: rgba(255, 255, 255, .9);
$opacity1: rgba(0, 0, 0, 0.15);
$opacity2: rgba(0, 0, 0, 0.1);
$opacity3: rgba(255, 255, 255, 0.3);
$opacity4: rgba(67, 92, 115, 0.16);
$opacity5: rgba(75, 124, 250, 0.3);
$opacity6: rgba(75, 166, 250, 0.22);
$opacity7: rgba(75, 166, 250, 0.6);
$opacity8: rgba(97, 255, 113, 0.39);
$opacity9: rgba(148, 203, 255, 0.2);
$opacity10: rgba(67, 67, 67, 0.7);

$gradient-color1: #4BDAFA;
$gradient-color2: #4B7CFA;
$gradient-color3: #04D2FF;
$gradient-color4: #1053FF;

$color-cloud1: #ABFCB9;
$color-cloud2: #E3FFE6;
$color-cloud3: #E2F1FF;
$color-cloud4: #9DD0FF;
$color-cloud5: #9BDCE7;

$color1: #2AD53B;
$color2: #2888E0;
$color2: #E0E8F0;

:root {
    --fancybox-bg: rgba(0, 0, 0, 0.3);
}