$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1350px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1310px
);

$gutter: 30px;

$color-black: #000;
$color-white: #FFF;
$color-green: #53E962;

$color-text: #434343;
$color-link: #4BA6FA;

$color-gray1: #222;
$color-gray2: #4A4A4A;

$opacity1: rgba(0, 0, 0, 0.15);
$opacity2: rgba(0, 0, 0, 0.1);
$opacity3: rgba(255, 255, 255, 0.3);
$opacity4: rgba(67, 92, 115, 0.16);
$opacity5: rgba(75, 124, 250, 0.3);
$opacity-blue: rgba(75, 166, 250, 0.6);

$gradient-color1: #4BDAFA;
$gradient-color2: #4B7CFA;
$gradient-color3: #04D2FF;
$gradient-color4: #1053FF;